& when (@media-common = true) {
    @color-grey: #6c757d;
    @color-blue: #00a667;

    .filter-current {
        .item {
            margin-left: 0;
            padding-left: 0;
        }
        .action.remove {
            margin: 0 5px 0 0;
            order: -1;
            padding: 0;
            position: static;
        }
        .filter-value {
            padding-left: 5px;
        }
    }

    // Se necesita un selector mas especifico
    #layered-filter-block .block-subtitle {
        border-bottom: none;
        color: @color-blue;
        font-weight: bold;
        padding: 10px 20px;
    }

    .filter-options-content {
        padding: 10px;
    }

    .filter-options-title{
        padding: 10px 20px 0;
        word-break: normal;
        
        &:after {
            color: @color-grey;
        }
    }

    .filter-content .item {
        display: flex;
        
        > a {
            border-left: 5px solid transparent;
            box-sizing: border-box;
            color: @color-grey;
            padding-left: 10px;
            
            &:hover {
                background: transparent;
                color: @color-blue;
            }
        }
        > input[type="checkbox"],
        > input[type="radio"] {
            display: none;
        }
        > input[checked="checked"] + a {
            border-left-color: @color-blue;
        }
        .count {
            display: none;
        }
    }
    .block-actions.filter-actions a {
        color: @color-blue;

        &:hover {
            color: @color-grey;
        }
    }
}

// Tablet
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    #layered-filter-block .filter-current .block-subtitle {
        border-bottom: 1px solid #e4e4e4;
        color: #6c757d;
        font-weight: normal;
        padding-bottom: 10px
    }
    .filter-content .item {
        display: block;
        padding-left: 13px;
        position: relative;

        > a {
            padding-left: 6px;
        }
    }
    .filter-current {
        .items {
            padding: 0 2px 5px;
        }
        .action.remove {
            border-left: 0;
            position: absolute;
        }
        .filter-value {
            padding-left: 0;
        }
    }
    .filter-options {
        border-top: 1px solid #e4e4e4;
    }
    .filter-options-content {
        padding-left: 0px;

        a {
            margin-left: -13px;
        }
    }
    .filter-options-title {
        padding: 10px 40px 0 10px
    }
    #layered-filter-block .block-subtitle {
        padding: 10px 10px 20px 0;
    }
}



