<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile 
?>
<?php if ($block->isCanShowMessages()) :?>
<br/>
<p><?php echo __('Your subscription profile number is: %1.', $block->getProfileIdsHtml()); ?></p>
<p><?php echo __("Please note that PayPal may take up to several hours to initiate the payment");?></p>
<?php $this->getCheckoutSession()->unsLastRecurringProfileIds(); ?>
<?php endif; ?>