.checkout-payment-method .actions-toolbar .primary{
  float: left !important;
}
#checkout-payment-method-load .saveAddressButton{
  margin-right:10px !important;
}
.billing-address-form .fieldset .choice{
  display:none !important;
}
.street .control .field .label {
  position: relative !important;
  width: 100%;
  height: 25px;
}