<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile 
?>
<button id="sarp_add_new_option" style="float:right" title="Add Billing Option" type="button" class="action- scalable add">
    <span><?php echo __('Add Billing Option') ?></span>
</button>

<script id="row-template" type="text/x-magento-template">
    <fieldset class="fieldset admin__fieldset " id="template_option_fieldset_<%- data.option_count %>">
        <div class="admin__field field required _required" data-ui-id="exto-sarp-template-edit-form-fieldset-element-form-field-name-template">
            <label class="label admin__field-label" for="template_name_<%- data.option_count %>" data-ui-id="exto-sarp-template-edit-form-fieldset-element-text-options-<%- data.option_count %>-title-label"><span><?php echo __('Title')?></span></label>
            <div class="admin__field-control control">
                <input data-form-part="<%- data.form_name %>" id="template_name_<%- data.option_count %>" name="options[-<%- data.option_count %>][title]" data-ui-id="exto-sarp-template-edit-form-fieldset-element-text-options-<%- data.option_count %>-title" value="" title="Title" type="text" class=" input-text admin__control-text required-entry _required" aria-required="true">
            </div>
        </div>
        <div class="admin__field field field-option ">
            <label class="label admin__field-label"></label>
            <table class="admin__control-table admin__field-control control">
                <tbody>
                <?php foreach ($block->getStores() as $store): ?>
                    <tr>
                        <td><label class="admin__field-label"><span><?php echo $store->getName() ?></span></label></td>
                        <td class="col-store-view">
                            <input placeholder="<?php echo $block->getPlaceholder() ?>" data-form-part="<%- data.form_name %>" class="input-text admin__control-text" type="text" name="options[-<%- data.option_count %>][titles][<?php echo $store->getId() ?>]" value=""/>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <div class="admin__field field field-option ">
            <label class="label admin__field-label"><span><?php echo __('Bill Each')?></span></label>
            <div class="admin__field-control control">
                <div class="admin__field-control control sarp-billing-form frequency">
                    <input data-form-part="<%- data.form_name %>" type="text" class="admin__control-text validate-digits validate-not-negative-number" name="options[-<%- data.option_count %>][billing_frequency]" value="" />
                    <div class="admin__field-note" style="text-align: center"><span><?php echo __('Billing Frequency') ?></span></div>
                </div>
                <div class="admin__field-control control sarp-billing-form period">
                    <select data-form-part="<%- data.form_name %>" class="admin__control-select" name="options[-<%- data.option_count %>][billing_period]">
                        <?php foreach ($block->getBillingPeriods() as $key => $name): ?>
                            <option value="<?php echo __($key) ?>">
                                <?php echo __($name) ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                </div>
                <div class="admin__field-control control sarp-billing-form cycles">
                    <div class="additional-text"><?php echo __('for') ?></div>
                    <input data-form-part="<%- data.form_name %>" type="text" class="admin__control-text validate-digits validate-not-negative-number" name="options[-<%- data.option_count %>][billing_cycles]" value="" />
                    <div class="additional-text"><?php echo __('times') ?></div>
                    <div class="admin__field-note" style="text-align: center"><span><?php echo __('Billing cycles. 0 for maximum') ?></span></div>
                </div>
            </div>
        </div>
        <div class="admin__field field with-addon exto-sarp-remove-button-field" data-ui-id="exto-sarp-template-edit-form-fieldset-element-form-field-remove-option-<%- data.option_count %>">
            <label class="label admin__field-label" for="template_remove_option_<%- data.option_count %>" data-ui-id="exto-sarp-template-edit-form-fieldset-element-label-remove-option-<%- data.option_count %>-label"><span></span></label>
            <div class="admin__field-control control">
                <div class="admin__field"><div class="control-value"></div>
                    <button title="Delete" type="button" class="action- scalable delete delete-option remove-row-button">
                        <span><?php echo __('Delete') ?></span>
                    </button>
                </div>
            </div>
        </div>
    </fieldset>
</script>

<script>
require([
    'jquery',
    'mage/template'
], function(jQuery, mageTemplate){
    var contentTemplateRow = jQuery('#row-template').html();

    var sarpOptionRenderer = {
        templateRow : contentTemplateRow,
        itemsCount : <?php echo $this->getOptionCount() ?>,
        removeButtonSelector : '.remove-row-button',
        addButtonSelector : '#sarp_add_new_option',

        initObserver : function() {
            var me = this;
            jQuery(this.addButtonSelector).click(function(){
                me.addRow();
            });

            jQuery(this.removeButtonSelector).click(function(){
                var element = jQuery(this).parent().parent().parent().parent();
                me.removeRow(element);
            });
        },

        addRow : function () {
            var data = {};
            data.option_count = ++this.itemsCount;
            data.form_name = '<?php echo $block->getFormName() ?>';

            var optionSelector = '#template_add_option_fieldset';

            this.template = mageTemplate(this.templateRow);
            var escapedHTML = this.template({
                data: data
            });
            jQuery(optionSelector).before(escapedHTML);

            var me = this;
            jQuery(this.removeButtonSelector).click(function(){
                var element = jQuery(this).parent().parent().parent().parent();
                me.removeRow(element);
            });
        },

        removeRow : function (element) {
            jQuery(element).remove();
        }
    };
    sarpOptionRenderer.initObserver();
    if (jQuery('fieldset[id^="template_"]').length < 2) {
        jQuery('#sarp_add_new_option').click();
    }
    jQuery('.delete-option.remove-row-button:first').parent().parent().parent().css('display', 'none');
});
</script>
