<?php 
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile 
?>
<div class="admin__field-control control sarp-billing-form frequency">
    <input data-form-part="<?php echo $block->getFormName() ?>" type="text" class="admin__control-text validate-digits validate-not-negative-number" name="<?php echo $block->getFieldCode() ?>[billing_frequency]" value="<?php echo $this->getBillingFrequency() ?>" />
    <div class="admin__field-note" style="text-align: center"><span><?php echo __('Billing Frequency') ?></span></div>
</div>
<div class="admin__field-control control sarp-billing-form period">
        <select data-form-part="<?php echo $block->getFormName() ?>" class="admin__control-select" name="<?php echo $block->getFieldCode() ?>[billing_period]">
            <?php foreach ($block->getBillingPeriods() as $key => $name): ?>
                <option value="<?php echo __($key) ?>" <?php if ($block->getBillingPeriod() === $key) echo 'selected'; ?>>
                    <?php echo __($name) ?>
                </option>
            <?php endforeach; ?>
        </select>
</div>
<div class="admin__field-control control sarp-billing-form cycles">
    <div class="admin__field-control control">
        <div class="additional-text"><?php echo __('for') ?></div>
        <input data-form-part="<?php echo $block->getFormName() ?>" type="text" class="admin__control-text validate-digits validate-not-negative-number" name="<?php echo $block->getFieldCode() ?>[billing_cycles]" value="<?php echo $this->getBillingCycles() ?>" />
        <div class="additional-text"><?php echo __('times') ?></div>
        <div class="admin__field-note" style="text-align: center"><span><?php echo __('Billing cycles. 0 for maximum') ?></span></div>
    </div>
</div>


