<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile 
?>
<button title="<?php echo __('Delete') ?>" type="button" class="action- scalable delete delete-option remove-row-button">
    <span><?php echo __('Delete') ?></span>
</button>
