& when (@media-common = true) {

    .page-products  {

        .page-header {
            margin-bottom: 0;
        }
        .catalog_header {
            background-size: cover;
            color: #fff;
            // font-family: @main-font-extrabold;
            padding-bottom: 400px;
            text-align: center;

            .content {
                padding: 50px 15px;
                h2 {
                    font-size: 4rem;
                    margin: 0 0 1.5rem;

                    &:empty {
                        display: none;
                    }
                }
                h3 {
                    font-size: 2.5rem;
                    margin: 0;

                    &:empty {
                        display: none;
                    }
                }
            }
        } // .catalog_header

        .page-main {
            background: #fff;
            box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.51);
            margin-bottom: 50px;
            padding-top: 20px;
        }
        &:not(.catalogsearch-result-index) {
            .page-main {
                margin-top: -400px;
            }
        }

    } // .page-products

}

// Tablet
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products  {
        .catalog_header {
            .content {
                padding: 70px 20px;
                h2 {
                    font-size: 6.8rem;
                    margin: 0 0 3rem;
                }
                h3 {
                    font-size: 4.3rem;
                }
            }
        }
    }
}
