& when (@media-common = true) {
    .sections.nav-sections {
        display: none;
    }
    .page-products .page-main>.page-title-wrapper .page-title {
        display: none;
    }
    .products-grid .action.primary {
        border-radius: 10px;
        // color: @color-barca-yellow;
        font-size: 1.6rem;
        line-height: 1.3;
        padding: 10px 15px;
        text-transform: none;

        &:hover {
            opacity: 0.7;
        }
    }
    .products.list {
        .price-box {
            padding-bottom: 5px;
            
            .price {
                color: #303030;
                font-size: 1.8rem;
            }
            .special-price {
                display: block;
                margin-bottom: 5px;
            }
            .special-price-text {
                color: #fe797c;
                font-size: 1.8rem;
                font-style: italic;
            }
            .old-price .price {
                color: #fe797c !important;
                font-size: 1.4rem;
                text-decoration: line-through;
            }
        }
    }
}

// Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .toolbar-sorter label {
        display: none;
    }
    .page-products .sorter {
        text-align: right;
    }

    @media (min-width: 640px) and (max-width: 768px) {

        .column.main .product-items {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: flex-start;
        }
        .products-grid .product-items .product-item {
            box-sizing: border-box;
            margin: 15px 0;
            width:  ~"calc( ( 100% / 3 ) - 7px )" !important;

            .product-item-info {
                min-height: 100%;
            }
        }
            
    }
        

}

// Tablet
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    // Always display buttons
    body #maincontent {
        .products-grid .product-item-info:hover,
        .products-grid .product-item-info.active,
        .products-grid .product-item-info {
            border: none;
            
            .product-item-inner {
                background: transparent;
                box-shadow: none;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                height: auto;
                justify-content: flex-end;
                margin: 0;
                overflow: initial;
                padding: 0;
                position: static;
                width: auto;
            }
        }
        .product-item-name,
        .product.name a {
            color: #212529;
            font-weight: normal;
        }
    }

    .product-item {
        width:  ~"calc( ( 100% / 3 ) - 7px )";
    }

    // Alignment
    .page-products .products-grid {
        .product-items {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .product-item {
                width:  ~"calc( ( 100% / 3 ) - 7px )";
            }
        }
        .product-item-info {
            display: flex;
            flex-direction: column;
            min-height: 100%;
        }
    }
    .product-items .product-item-details {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
    }

    // Buttons
    .page-products .products-grid .product-item-inner:before {
        display: none;
    }
}

// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    // Alignment
    .page-products .products-grid {
        .product-items {
            gap: 0;
            
            .product-item {
                width:  24.439%;
            }
        }
    }
}