& when (@media-common = true) {
    .amlabel-position-wrapper {
        height: auto !important;
        max-width: 100%;
        min-width: 50%;
        width: auto !important;
        margin: 8px;
    }
    .amasty-label-container {
        height: auto !important;
        max-width: 100%;
        padding: 5px;
        text-align: center;
        width: auto !important;
    }
    .amasty-label-text {
        font-size: 1.3rem;
        overflow: hidden;
        position: static !important;
        text-overflow: ellipsis;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
        text-transform: uppercase;
        white-space: nowrap;
    }
}