<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile 

/** @var \Exto\Sarp\Block\Adminhtml\Profile\View $block */
?>
<div class="exto-sarp-row">
    <div class="exto-sarp-vertical-container">
        <?php echo $block->getChildHtml('exto_sarp_subscription_view_profile'); ?>
        <?php echo $block->getChildHtml('exto_sarp_subscription_view_order'); ?>
    </div>
    <?php echo $block->getChildHtml('exto_sarp_subscription_view_subscription'); ?>
</div>
