// /**
//  * Copyright © 2016 Exto. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    * {
        .box-sizing-border;
    }

    .account {

        .exto-sarp {

            &-customer-profile-view {

                .page-title-wrapper .page-title {
                    font-weight: 400;
                    color: @sarp_title_color;
                    margin: 0 0 1rem;
                    display: block;
                }
            }
        }
    }

    .exto-sarp {

        &-action {
            margin-bottom: 2rem;
        }

        &-list {

        }

        &-item {
            margin-bottom: 50px;
            display: block;

            &-head {
                color: @sarp_title_color;
                margin-bottom: 1.5rem;
                font-size: 2.2rem;
                font-weight: 500;
                border-bottom: 1px solid @sarp_border_head_color;
                padding-bottom: 15px;
                line-height: 1.2;
                .flex;
                width: 100%;
                .justify-content-start;
                .align-items-center;

                .status {
                    padding-left: 25px;

                    &.active {
                        color: @sarp_green_color;
                    }

                    &.paused {
                        color: @sarp_orange_color;
                    }

                    &.completed {
                        color: @sarp_green_color;
                    }

                    &.canceled {
                        color: @sarp_red_color;
                    }
                }
            }
        }

        &-title {
            color: @sarp_title_color;
            margin-bottom: 1.5rem;
            display: block;
            font-size: 2.2rem;
            font-weight: 500;
        }

        &-profile {
            color: @sarp_text_color;

            &-list {
                .flex;
                width: 100%;
                .flex-direction-column;
            }

            &-item {
                margin-bottom: 20px;
            }

            &-title {
                font-weight: bold;
                margin-bottom: 10px;
                font-size: 1.6rem;
                display: block;
                color: @sarp_title_color;
            }

            &-value {
                font-size: 1.4rem;
                font-weight: 400;
            }
        }

        &-order {
            color: @sarp_text_color;

            &-item {
                padding: 20px 0;
                border-bottom: 2px solid @sarp_border_color;
                .flex;
                width: 100%;
                .align-items-center;
                .justify-content-between;
                font-size: 1.4rem;
                font-weight: 400;

                &:first-child {
                    border-top: 2px solid @sarp_border_color;
                }
            }

            &-status {

                &.processing {
                    color: @sarp_processing_color;
                }

                &.pending {
                    color: @sarp_warning_color;
                }

                &.complete {
                    color: @sarp_success_color;
                }
            }

            &-empty {
                width: 100%;
                display: block;
                color: @sarp_text_color;
                text-align: left;
                padding: 20px 0;
                border-bottom: 2px solid @sarp_border_color;
                border-top: 2px solid @sarp_border_color;
            }
        }

        &-subscr {

            &-heading {
                display: none;
            }

            &-list {
                padding: 25px;
                border-bottom: 2px solid @sarp_border_head_color;
                border-top: 2px solid @sarp_border_head_color;
            }

            &-items {
                color: @sarp_text_color;
                font-size: 1.4rem;
                .flex;
                .flex-direction-column;
                .align-items-center;
                .justify-content-center;
                width: 100%;
                margin-bottom: 25px;

                &:first-child {
                    margin-bottom: 0;
                }
            }

            &-name {
                color: @sarp_light_text_color;
                font-size: 2.4rem;
                font-weight: 400;
                display: block;
                margin-bottom: 10px;
                text-transform: capitalize;

                &-link {
                    color: @sarp_light_text_color;
                }
            }

            &-img {
                margin-bottom: 10px;
            }

            &-info {
                text-align: center;
                margin-bottom: 10px;
            }

            &-qty {
                margin-bottom: 10px;

                &-value {
                    color: @sarp_title_color;
                    font-size: 1.6rem;
                    font-weight: bold;
                }
            }

            &-price-value {
                color: @sarp_title_color;
                font-size: 1.6rem;
                font-weight: bold;
            }

            &-total {
                padding: 30px 0;

                &-item {
                    .flex;
                    width: 100%;
                    .justify-content-between;
                    margin-bottom: 20px;
                    color: @sarp_text_color;
                    font-size: 1.4rem;

                    &.grand-total {
                        color: @sarp_title_color;
                        font-size: 2.2rem;
                        font-weight: bold;
                    }
                }

                &-label {
                    text-align: left;
                    width: 70%;
                }

                &-value {
                    text-align: left;
                    width: 30%;
                }
            }
        }
    }

}

@media only screen and (min-width: @sarp__screen__xs){

    .exto-sarp {

        &-item {
            margin-bottom: 75px;
        }

        &-profile {
            color: @sarp_text_color;

            &-list {
                .flex;
                width: 100%;
                .flex-direction-row;
                .flex-wrap-wrap;
                .align-items-start;
                .justify-content-between;
            }

            &-item {
                margin-bottom: 40px;
                width: 48%;

                &:nth-child(odd) {
                    padding-right: 2%;
                }
            }

            &-title {
                margin-bottom: 20px;
            }

            &-value {
                font-size: 1.4rem;
                font-weight: 400;
            }
        }

        &-order {

            &-item {
                padding-right: 25px;
            }

            &-status {
                text-align: left;
                width: 25%;
            }

            &-name {
                text-align: left;
                width: 25%;
            }

            &-date {
                text-align: left;
                width: 25%;
            }

            &-total {
                text-align: left;
                width: 25%;
            }
        }

        &-subscr {

            &-heading {
                .flex;
                width: 100%;
                .justify-content-between;
                padding: 15px 25px;

                &-label {
                    color: @sarp_title_color;
                    font-size: 1.6rem;
                    font-weight: bold;
                    width: 25%;

                    &.wider {
                        width: 50%;
                    }
                }
            }

            &-items {
                .flex-direction-row;
                .justify-content-between;
            }

            &-img {
                margin-bottom: 0px;
            }

            &-info {
                margin-bottom: 0px;
                text-align: left;
            }

            &-item {
                width: 50%;
            }

            &-qty {
                margin-bottom: 0px;
                width: 25%;
            }

            &-price {
                width: 25%;
            }

            &-total {
                padding: 30px 25px;

                &-item {
                    padding-left: 50%;
                }

                &-label {
                    width: auto;
                }

                &-value {
                    width: auto;
                    padding-left: 0px;
                }
            }
        }
    }
}

@media only screen and (min-width: @sarp__screen__s){

    .exto-sarp {

        &-subscr {

            &-total {

                &-label {
                    width: 50%;
                    text-align: left;
                }

                &-value {
                    width: 50%;
                    padding-left: 70px;
                    text-align: left;
                }
            }
        }
    }
}

@media only screen and (min-width: @sarp__screen__m){

    .exto-sarp {

        &-item {

            &:first-child {
                margin-bottom: 35px;
            }
        }

        &-profile {

            &-list {
                padding-right: 25px;
            }

            &-item {
                width: 25%;

                &:nth-child(odd) {
                    padding-right: 0;
                }
            }
        }

        &-subscr {

            &-item {
                .flex;
                .justify-content-start;
            }

            &-img {
                width: 50%;
            }

            &-info {
                text-align: left;
                width: 50%;
                padding-right: 25px;
            }

            &-name {
                margin-bottom: 25px;
            }

            &-total {

                &-value {
                    padding-left: 0px;
                }
            }
        }
    }

}

@media only screen and (min-width: @sarp__screen__l){

}
