// /**
//  * Copyright © 2016 Exto. All rights reserved.
//  * See COPYING.txt for license details.
//  */

// background colors
// -----------------------------

@sarp_background_primary:    #ffffff;
@sarp_background_grey:       #f1f1f1;

// text colors
// -----------------------------

@sarp_text_color:           #242424;
@sarp_title_color:          #000000;
@sarp_link_color:           #0060ff;
@sarp_light_text_color:     #605c58;

// status color
@sarp_green_color:          #5e9000;
@sarp_red_color:            #ee4d1c;
@sarp_orange_color:         #e66108;

// order color
@sarp_processing_color:     #a5a5a5;
@sarp_success_color:        #5e9000;
@sarp_warning_color:        #ee4d1c;
@sarp_closed_color:         #c1c1c1;

// border color
// ----------------------------

@sarp_border_color:         #e5e5e5;
@sarp_border_head_color:    #cacaca;


// media sarp
// ----------------------------

@sarp__screen__xs:         480px;
@sarp__screen__s:          768px;
@sarp__screen__m:          992px;
@sarp__screen__l:          1024px;
