<ul class="opc-progress-bar">
      <li class="opc-progress-bar-item _active">
          <span><?= __('Cart') ?></span>
      </li>
      <?php if (!$this->getIsVirtual()): ?>
      <li class="opc-progress-bar-item">
          <span><?= __('Shipping') ?></span>
      </li>
      <?php endif;?>
      <li class="opc-progress-bar-item">
          <span><?= __('Review &amp; Payments') ?></span>
      </li>
</ul>