// /**
//  * Copyright © 2016 Exto. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    * {
        .box-sizing-border;
    }

    //  Dashboard
    //  _____________________________________________

    .exto-sarp {

        &-wrapper {
            .flex;
            .justify-content-between;

            > div:last-child {
                margin-left: 30px;
            }
        }

        &-container {
            background: @sarp_background_grey;
            padding: 25px 0 0;
            margin-bottom: 30px;
            font-size: 1.4rem;
            line-height: 1.2;
            width: 100%;
            color: @sarp_primary_color;

            &-title-block {
                padding: 20px 25px 10px;
                width: 100%;
                border-bottom: 3px solid @sarp_title_border_color;
                .flex;
                .justify-content-start;
                .align-items-center;

                &-value {
                    font-weight: bold;
                    font-size: 1.8rem;

                    &__enable {
                        color: @sarp_text_green;
                    }

                    &__disable {
                        color: @sarp_text_orange;
                    }
                }

                &-label {
                    color: @sarp_title_color;
                    font-size: 2rem;
                    font-weight: 600;
                    padding-right: 13px;

                    .triggers-points-text {
                        color: @sarp_table_header_color;
                        font-size: 1.8rem;
                    }
                }
            }

            &-box {
                .flex;
                .justify-content-between;
                padding: 30px 25px;
                font-size: 1.6rem;

                &-two-column {
                    .justify-content-start;
                }

                &-item {
                    color: @sarp_value_color;
                    padding-right: 20px;

                    &.no-link-item {
                        color: @sarp_no_link_color;
                    }

                    &-label {
                        color: @sarp_label_color;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    //  RECURRING PROFILES
    //  _____________________________________________

    .sarp-main-column-wrapper {
        .flex;
        width: 100%;
        .justify-content-between;
        .align-items-start;
        .box-sizing-border;
    }

    .sarp-main-column-content {
        width: 100%;
    }

    .sarp-right-column-content {
        width: 520px;
        max-width: 520px;
        margin-left: 35px;
    }

    .exto-sarp-profile-view {

        .page-actions-buttons {

            .action-default,
            .action-default:hover,
            .action-default:focus {
                background: none;
                border: none;
            }
        }
    }


    //  sidebar
    //  ---------------------------------------------

    .profile {

            &-view-data {
                background: @sarp_background_grey;
                padding: 20px 0 0;
                color: @sarp_primary_color;
                .box-sizing-border;
            }

            &-billing-customer {

                &-info {
                    padding: 25px 25px;
                }

                &-name {
                    margin-bottom: 35px;
                    font-size: 1.3rem;
                }

                &-link {
                    font-weight: 600;
                    display: inline-block;
                    margin-right: 10px;
                    font-size: 1.6rem;
                }

                &-address {
                    font-size: 1.3rem;
                    margin-bottom: 0;
                }
            }

            &-shipping-customer {

                &-info {
                    padding: 0;
                }

                &-title {
                    font-weight: 600;
                    line-height: 1.2;
                    font-size: 1.7rem;
                    display: block;
                    padding: 30px 25px 15px;
                    border-bottom: 2px solid @sarp_title_border_color;
                }

                &-item {
                    padding: 20px 25px;
                }

            }

            &-order-section {
                padding: 0px;

                &-title {
                    font-weight: 600;
                    line-height: 1.2;
                    font-size: 1.7rem;
                    display: block;
                    padding: 30px 25px 15px;
                    border-bottom: 2px solid @sarp_title_border_color;
                }

                &-item {
                    .flex;
                    width: 100%;
                    .justify-content-between;
                    .align-items-center;
                    padding: 20px 25px;

                    > div {
                        width: 25%;
                    }

                    &:nth-child(even) {
                        background: @sarp_background_row;
                    }

                    .order-price {
                        text-align: right;
                    }

                    .order-status-pending {
                        color: @sarp_warning_color;
                    }

                    .order-status-processing,
                    .order-status-complete {
                        color: @sarp_success_color;
                    }
                }
            }

    }

    //  Message box
    //  ---------------------------------------------

    .exto-sarp-message {

        &-title {
            font-weight: 600;
            line-height: 1.2;
            font-size: 2rem;
            display: block;
            padding: 0px;
            margin-bottom: 20px;
        }

        &-list {

        }

        &-item {
            .flex;
            width: 100%;
            .flex-direction-column;
            margin-bottom: 20px;

            &-date {
                color: @sarp_label_color;
                display: block;
                text-align: right;
                padding-right: 30px;
                margin-bottom: 15px;
            }

            &-txt {
                background: @sarp_background_row;
                padding: 20px 15px 20px 15px;
                display: block;
                border-bottom: 1px solid @sarp_message_border_color;
                box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.1);
                text-align: left;
                font-size: 1.4rem;
                line-height: 1.4;
            }
        }
    }

    //  profile view info
    //  ---------------------------------------------

    .exto-sarp-view-info {
        background: @sarp_background_grey;
        margin-bottom: 30px;

        &-head {
                color: @sarp_title_color;
                margin-bottom: 1.5rem;
                font-size: 2.2rem;
                font-weight: 500;
                border-bottom: 2px solid @sarp_title_border_color;
                padding: 40px 25px 13px;
                line-height: 1.2;
                .flex;
                width: 100%;
                .justify-content-start;
                .align-items-center;

                .status {
                    padding-left: 5%;

                    &.active {
                        color: @sarp_green_color;
                    }

                    &.paused {
                        color: @sarp_orange_color;
                    }

                    &.completed {
                        color: @sarp_green_color;
                    }

                    &.canceled {
                        color: @sarp_red_color;
                    }
                }
        }

        &-list {
            padding: 25px 25px;
            .flex;
            width: 100%;
            .flex-direction-column;
        }

        &-item {
            margin-bottom: 20px;
        }

        &-title {
            font-size: 1.4rem;
            font-weight: 400;
            margin-bottom: 0px;
            display: block;
            color: @sarp_label_color;
        }

        &-value {
            font-size: 1.6rem;
            font-weight: bold;
            display: block;
            color: @sarp_title_color;
        }
    }

    //  profile view sudbcroption info
    //  ---------------------------------------------

    .exto-sarp-profile-subscr {
        margin-bottom: 20px;
        .flex;
        .flex-direction-column;

        &-list {
            margin-bottom: 20px;
            .flex;
            .flex-direction-column;
            width: 100%;
            padding: 25px;
            border: 1px solid @sarp_subscr_border_color;

            &-item {
                .flex;
                width: 100%;
                .justify-content-start;
            }

            &-img {
                width: 160px;

                img {
                    display: inline-block;
                    width: 100%;
                    height: auto;
                }
            }

            &-txt {
                padding-left: 15px;
            }

            &-name {
                font-size: 2rem;
                display: block;
                margin-bottom: 15px;
                line-height: 1.2;
                text-transform: capitalize;
            }

            &-price {
                font-weight: bold;
                font-size: 1.6rem;
                line-height: 1;
                margin-bottom: 20px;
            }

            &-opt {
                margin-bottom: 15px;
                .flex;
                .justify-content-start;
                width: 100%;
                .align-items-center;

                &-label {
                    color: @sarp_label_color;
                    font-size: 1.4rem;
                    line-height: 1.2;
                    min-width: 70px;
                }

                &-value {
                    font-size: 1.6rem;
                    line-height: 1.2;
                    color: @sarp_title_color;
                    font-weight: 500;
                    padding-left: 10px;
                }
            }
        }

        &-total {

            &-item {
                background: @sarp_background_grey;
                .flex;
                width: 100%;
                .justify-content-between;
                .align-items-center;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 1;
                padding: 20px;

                &:nth-child(even) {
                    background: @sarp_background_row;
                }

                &.grand-total {
                    background: @sarp_background_orange;
                }

                &-label {
                    text-align: left;
                }

                &-value {
                    text-align: right;
                }
            }
        }
    }

}

@media only screen and (min-width: @sarp__screen__xs){

    .exto-sarp-view-info {

        &-list {
            .flex;
            width: 100%;
            .flex-direction-row;
            .flex-wrap-wrap;
            .align-items-start;
            .justify-content-start;
        }

        &-item {
            margin-bottom: 35px;
            width: 48%;

            &:nth-child(odd) {
                padding-right: 2%;
            }
        }
    }

    .exto-sarp-profile-subscr {
        margin-bottom: 35px;
    }
}

@media only screen and (min-width: @sarp__screen__s){

    .sarp-right-column-content {
        min-width: 400px;
    }
}

@media only screen and (min-width: @sarp__screen__m){

    .sarp-right-column-content {
        width: 520px;
    }
}

@media only screen and (min-width: @sarp__screen__l){


}

@media only screen and (min-width: @sarp__screen__xl){

    .exto-sarp-view-info {

        &-item {
                width: 20%;

            &:nth-child(odd) {
                padding-right: 0;
            }
        }

        &-head {

            .status {
                padding-left: 75px;
            }
        }
    }

    .exto-sarp-profile-subscr {
        .flex;
        .flex-direction-row;

        &-list {
            .flex-direction-row;
            .justify-content-between;
            .flex-wrap-wrap;

            &-item {
                width: 50%;

                &:nth-child(even) {
                    padding-left: 25px;
                }
            }
        }

        &-total {
            width: 230px;
            margin-left: 20px;
            min-width: 230px;
        }
    }

}
