// /**
//  * Copyright © 2016 Exto. All rights reserved.
//  * See COPYING.txt for license details.
//  */

// background colors
// -----------------------------

@sarp_background_primary:    #ffffff;
@sarp_background_grey:       #f1f1f1;
@sarp_background_row:        #f8f8f8;
@sarp_background_pink:       #f6e3e3;
@sarp_background_orange:     #fff8f2;


// text colors
// -----------------------------

@sarp_primary_color:        #41362f;
@sarp_table_text_color:     #242424;
@sarp_table_header_color:   #7c7976;
@sarp_title_color:          #1b1b1a;
@sarp_text_green:           #5e9000;
@sarp_text_orange:          #e66108;
@sarp_label_color:          #868686;
@sarp_value_color:          #0060ff;
@sarp_no_link_color:        #000000;

// status color
@sarp_green_color:          #5e9000;
@sarp_red_color:            #ee4d1c;
@sarp_orange_color:         #e66108;

// text status colors
// -----------------------------

@sarp_success_color:        #99b873;
@sarp_warning_color:        #ee4d1c;
@sarp_closed_color:         #c1c1c1;

// border color
// ----------------------------

@sarp_title_border_color:    #605c58;
@sarp_message_border_color:  #ebebeb;
@sarp_subscr_border_color:   #dfdfdf;


// media sarp
// ----------------------------

@sarp__screen__xs:         480px;
@sarp__screen__s:          768px;
@sarp__screen__m:          992px;
@sarp__screen__l:          1024px;
@sarp__screen__xl:         1400px;
