<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Exto\Sarp\Block\Adminhtml\Profile\View\Customer $block */
?>
<div class="exto-sarp-block">
    <div class="profile-billing-customer-info">
        <div class="profile-billing-customer-name">
            <a href="<?php echo $block->getCustomerUrl() ?>" class="profile-billing-customer-link"><?php echo $block->getCustomerName() ?></a>
            <span><?php echo $block->getCustomerEmail() ?></span>
        </div>
        <div class="profile-billing-customer-address"><?php echo $block->getBillingAddress() ?></div>
    </div>
    <div class="profile-shipping-customer-info">
        <div class="profile-shipping-customer-title"><?php echo __('Ship to') ?></div>
        <div class="profile-shipping-customer-item"><?php echo $block->getShippingAddress() ?></div>
    </div>
</div>
