<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Exto\Sarp\Block\Adminhtml\Profile\View\Message $block */
?>
<div class="exto-sarp-message">
    <div class="exto-sarp-message-title"><?php echo __('PayPal message log') ?></div>
    <div class="exto-sarp-message-list">
        <?php $messageData = $block->getMessageLog()?>
        <?php /** @var \Exto\Sarp\Api\Data\ProfileMessageInterface $message */?>
        <?php foreach ($messageData as $message):?>
            <div class="exto-sarp-message-item">
                <div class="exto-sarp-message-item-date"><?php echo $block->prepareDate($message->getCreatedAt())?></div>
                <div class="exto-sarp-message-item-txt">
                    <?php echo $message->getMessage()?>
                </div>
            </div>
        <?php endforeach;?>
    </div>
</div>
