<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Exto\Sarp\Block\Adminhtml\Profile\View\Order $block */
?>
<div class="profile-order-section">
    <div class="profile-order-section-title"><?php echo __('Orders') ?></div>
    <div class="profile-order-section-list">
        <?php $orderData = $block->getOrderData()?>
        <?php /** @var \Magento\Sales\Api\Data\OrderInterface $order */?>
        <?php foreach ($orderData as $order):?>
            <div class="profile-order-section-item">
                <div class="order-url">
                    <a href="<?php echo $block->getOrderUrl($order->getEntityId()) ?>"><?php echo '#'.$order->getIncrementId() ?></a>
                </div>
                <div class="order-status-<?php echo $order->getStatus()?>">
                    <?php echo $block->getOrderStatus($order->getStatus()) ?>
                </div>
                <div class="order-date">
                    <?php echo $block->prepareDate($order->getCreatedAt()) ?>
                </div>
                <div class="order-price">
                    <?php echo $block->formatPrice($order->getGrandTotal()) ?>
                </div>
            </div>
        <?php endforeach;?>
    </div>
</div>
