<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Exto\Sarp\Block\Adminhtml\Profile\View\Profile $block */
?>
<div class="exto-sarp-view-info">
    <div class="exto-sarp-view-info-head">
        <div><?php echo $block->getTitle() ?></div>
        <div class="status <?php echo $block->getStatusCode() ?>"><?php echo $block->getStatus() ?></div>
    </div>
    <div class="exto-sarp-view-info-list">
        <div class="exto-sarp-view-info-item">
            <div class="exto-sarp-view-info-title"><?php echo __('Subscription profile ID:') ?></div>
            <div class="exto-sarp-view-info-value"><?php echo $block->getProfileId() ?></div>
        </div>
        <div class="exto-sarp-view-info-item">
            <div class="exto-sarp-view-info-title"><?php echo __('PayPal profile ID:') ?></div>
            <div class="exto-sarp-view-info-value"><?php echo $block->getPaypalId() ?></div>
        </div>
        <div class="exto-sarp-view-info-item">
            <div class="exto-sarp-view-info-title"><?php echo __('First billing date:') ?></div>
            <div class="exto-sarp-view-info-value"><?php echo $block->getFirstBillingDate() ?></div>
        </div>
        <div class="exto-sarp-view-info-item">
            <div class="exto-sarp-view-info-title"><?php echo __('Last successful billing:') ?></div>
            <div class="exto-sarp-view-info-value"><?php echo $block->getLastSuccessfulBillingDate() ?></div>
        </div>
        <div class="exto-sarp-view-info-item">
            <div class="exto-sarp-view-info-title"><?php echo __('Max payment failures:') ?></div>
            <div class="exto-sarp-view-info-value"><?php echo $block->getMaxPaymentFailures() ?></div>
        </div>
        <div class="exto-sarp-view-info-item">
            <div class="exto-sarp-view-info-title"><?php echo __('Default order status:') ?></div>
            <div class="exto-sarp-view-info-value"><?php echo $block->getOrderStatus($block->getDefaultOrderStatus()) ?></div>
        </div>
    </div>
</div>
