<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Exto\Sarp\Block\Adminhtml\Profile\View\Subscription $block */
?>
<div class="exto-sarp-profile-subscr">
    <div class="exto-sarp-profile-subscr-list">
        <?php $subscriptionData = $block->getSubscriptionData()?>
        <?php foreach ($subscriptionData['items'] as $item):?>
            <div class="exto-sarp-profile-subscr-list-item">
                <div class="exto-sarp-profile-subscr-list-img">
                    <img src="<?php echo $item['thumbnail'] ?>" />
                </div>
                <div class="exto-sarp-profile-subscr-list-txt">
                    <div class="exto-sarp-profile-subscr-list-name"><a href="<?php echo $item['url'] ?>"><?php echo $item['name'] ?></a></div>
                    <div class="exto-sarp-profile-subscr-list-price"><?php echo $block->formatPrice($item['price']) ?></div>
                    <div class="exto-sarp-profile-subscr-list-opt">
                        <div class="exto-sarp-profile-subscr-list-opt-label"><?php echo __('Qty:') ?></div>
                        <div class="exto-sarp-profile-subscr-list-opt-value"><?php echo $item['qty'] ?></div>
                    </div>
                </div>
            </div>
        <?php endforeach;?>
    </div>
    <div class="exto-sarp-profile-subscr-total">
        <div class="exto-sarp-profile-subscr-total-item">
            <div class="exto-sarp-profile-subscr-total-label"><?php echo __('Total:') ?></div>
            <div class="exto-sarp-profile-subscr-total-value"><?php echo  $block->formatPrice($subscriptionData['subtotal']) ?></div>
        </div>
        <div class="exto-sarp-profile-subscr-total-item">
            <div class="exto-sarp-profile-subscr-total-label"><?php echo __('Tax:') ?></div>
            <div class="exto-sarp-profile-subscr-total-value"><?php echo  $block->formatPrice($subscriptionData['tax_total']) ?></div>
        </div>
        <div class="exto-sarp-profile-subscr-total-item">
            <div class="exto-sarp-profile-subscr-total-label"><?php echo __('Shipping:') ?></div>
            <div class="exto-sarp-profile-subscr-total-value"><?php echo  $block->formatPrice($subscriptionData['shipping_total']) ?></div>
        </div>
        <div class="exto-sarp-profile-subscr-total-item grand-total">
            <div class="exto-sarp-profile-subscr-total-label"><?php echo __('Grand Total:') ?></div>
            <div class="exto-sarp-profile-subscr-total-value"><?php echo  $block->formatPrice($subscriptionData['grand_total']) ?></div>
        </div>
    </div>
</div>
