<!--
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
.sarp-billing-form {
    margin-right: 15px !important;
}

.sarp-billing-form.frequency {
    width: 10% !important;
}

.sarp-billing-form.period {
    width: 10% !important;

}

.sarp-billing-form.cycles {
    width: 20% !important;
}

.sarp-billing-form.cycles .additional-text {
    display: inline-block;
}

.sarp-billing-form.cycles .additional-text:first-child {
    margin-left: 10px;
}

.sarp-billing-form.cycles .admin__control-text {
    display: inline-block;
}

.sarp-billing-form.frequency input {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.sarp-billing-form.cycles input {
    width: 30%;
    margin: 0 5px;
    display: block;
}