<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile 
/** @var $block Exto\Sarp\Block\Product\View\Option */
?>
<div class="field">
    <label class="label">
        <span><?php echo $block->getSubscriptionLabel() ?></span>
    </label>

    <div class="fieldset">
        <div class="field" >
            <div class="control">
                <?php if ($block->isSelectOptionStyle()):?>
                    <select name="exto_sarp_template_option" class="">
                        <?php foreach ($block->getTemplateOptions() as $value => $label): ?>
                            <option value="<?php echo $value ?>"><?php echo $label ?></option>
                        <?php endforeach; ?>
                    </select>
                <?php else: ?>
                    <?php foreach ($block->getTemplateOptions() as $value => $label): ?>
                        <div>
                            <input type="radio" name="exto_sarp_template_option" id="<?php echo 'exto_sarp_template_option_'.$value ?>" value="<?php echo $value ?>">
                            <label class="label admin__field-label" for="<?php echo 'exto_sarp_template_option_'.$value ?>">
                                <span><?php echo $label ?></span>
                            </label>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
            </div>
        </div>
        <?php if ($block->isDisplayDatePicker()):?>
            <div class="field date">
                <label class="label">
                    <span><?php echo $block->getStartBillingLabel() ?></span>
                </label>
                <?php echo $block->getDatePickerHtml() ?>
            </div>
        <?php endif; ?>
    </div>
</div>


