<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Exto\Sarp\Block\Adminhtml\Profile\View\Order $block */
?>
<div class="exto-sarp-row">
    <div class="label-container"><?php echo __('Orders') ?></div>
    <div class="data">
        <?php $orderData = $block->getOrderData()?>
        <?php foreach ($orderData as $order):?>
            <div class="order-item">
                <div class="name">
                    <a href="<?php echo $block->getOrderUrl($order['order_id']) ?>"><?php echo '#'.$order['increment_id'] ?></a>
                </div>
                <div>
                    <span class="status <?php echo $order['status']?>"><?php echo $block->getOrderStatus($order['status']) ?></span>
                </div>
                <div>
                    <span><?php echo $block->formatPrice($order['grand_total']) ?></span>
                </div>
                <div>
                    <span><?php echo $block->prepareDate($order['created_at']) ?></span>
                </div>
            </div>
        <?php endforeach;?>
    </div>
</div>
