<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Exto\Sarp\Block\Adminhtml\Profile\View\Profile $block */
?>
<div class="exto-sarp-row">
    <div class="label-container">
        <div><?php echo $block->getTitle() ?></div>
        <div class="status <?php echo $block->getStatusCode() ?>"><?php echo $block->getStatus() ?></div>
    </div>
    <div class="data">
        <div class="field">
            <div class="field-label"><?php echo __('Subscription profile ID:') ?></div>
            <div class="field-value"><?php echo $block->getProfileId() ?></div>
        </div>
        <div class="field">
            <div class="field-label"><?php echo __('PayPal profile ID:') ?></div>
            <div class="field-value"><?php echo $block->getPaypalId() ?></div>
        </div>
        <div class="field">
            <div class="field-label"><?php echo __('First billing date:') ?></div>
            <div class="field-value"><?php echo $block->getFirstBillingDate() ?></div>
        </div>
        <div class="field">
            <div class="field-label"><?php echo __('Last successful billing:') ?></div>
            <div class="field-value"><?php echo $block->getLastSuccessfulBillingDate() ?></div>
        </div>
    </div>
</div>
