<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Exto\Sarp\Block\Adminhtml\Profile\View\Subscription $block */
?>
<div class="exto-sarp-block">
    <div class="label-container"><?php echo __('Subscription details') ?></div>
    <div class="data">
        <?php $subscriptionData = $block->getSubscriptionData()?>
        <?php foreach ($subscriptionData['items'] as $item):?>
            <div class="product-item">
                <div class="img">
                    <img src="<?php echo $item['thumbnail'] ?>" width="90" height="90"/>
                </div>
                <div class="info">
                    <div class="name">
                        <a href="<?php echo $item['url'] ?>"><?php echo $item['name'] ?></a>
                    </div>
                    <div class="field inline">
                        <div class="field-label"><?php echo __('Price:') ?></div>
                        <div class="field-value"><?php echo $block->formatPrice($item['price']) ?></div>
                    </div>
                    <div class="field inline">
                        <div class="field-label"><?php echo __('Qty:') ?></div>
                        <div class="field-value"><?php echo $item['qty'] ?></div>
                    </div>
                </div>
            </div>
        <?php endforeach;?>
        <div class="total">
            <div>
                <div class="label"><?php echo __('Total:') ?></div>
                <div><?php echo  $block->formatPrice($subscriptionData['subtotal']) ?></div>
            </div>
            <div>
                <div class="label"><?php echo __('Tax:') ?></div>
                <div><?php echo  $block->formatPrice($subscriptionData['tax_total']) ?></div>
            </div>
            <div>
                <div class="label"><?php echo __('Shipping:') ?></div>
                <div><?php echo  $block->formatPrice($subscriptionData['shipping_total']) ?></div>
            </div>
            <div class="grand-total">
                <div class="label"><?php echo __('Grand Total:') ?></div>
                <div><?php echo  $block->formatPrice($subscriptionData['grand_total']) ?></div>
            </div>
        </div>
    </div>
</div>
