
<div class="block-authentication loginPopup"
     data-bind="afterRender: setModalElement, blockLoader: isLoading"
     style="display: none">

    <div class="modal-content">
        <div class="modal-body">

            <div id="customModal" class="product data items"
                 data-mage-init='{"mage/tabs": {"openedState": "active", "animate": {"duration": 100}, "active": 1, "disabled": [2], "disabledState": "disabled"}}'>
                <div class="item title" data-role="collapsible">
                    <a class="switch" data-toggle="trigger" href="#login-content-form"><translate args="'Log In'"></translate></a>
                </div>
                <div id="login-content-form" class="item content" data-role="content">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" role="tabpanel" aria-labelledby="login-tab">
                            <form onkeypress="return event.keyCode != 13;" class="form form-login"
                                  method="post"
                                  data-bind="event: {submit: login }"
                                  id="login-form">
                                <div class="fieldset login" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                                    <div class="field email required">
                                        <label class="label" for="customer-email"><span data-bind="i18n: 'Email'"></span></label>
                                        <div class="control">
                                            <input name="username"
                                                   id="customer-email"
                                                   type="email"
                                                   class="input-text input-barsa"
                                                   placeholder="EMAIL"
                                                   data-mage-init='{"mage/trim-input":{}}'
                                                   data-bind="attr: {autocomplete: autocomplete}"
                                                   data-validate="{required:true, 'validate-email':true}">
                                        </div>
                                    </div>


                                    <label for="pass" class="label label-pass"><span data-bind="i18n: 'Password'"></span></label>
                                    <div class="field password container-input required">
                                        <input name="password"
                                               type="password"
                                               class="input-text input-barsa"
                                               id="pass"
                                               placeholder="Password"
                                               data-bind="attr: {autocomplete: autocomplete}"
                                               data-validate="{required:true}">
                                        <a draggable="false" tabindex="-1" class="action forgottenLink" href="/forgot-password/">
                                            <span data-bind="i18n: 'Forgotten?'"></span>
                                        </a>
                                        <div class="container-eye" id="showPassButton" onclick="var x = document.getElementById('pass');var eye = document.getElementById('faEye');if (x.type === 'password') { x.type = 'text';eye.classList.remove('fa-eye-slash');eye.classList.add('fa-eye');} else {x.type = 'password';eye.classList.remove('fa-eye');eye.classList.add('fa-eye-slash');}">
                                            <i id="faEye" class="fa fa-eye-slash"></i>
                                        </div>
                                    </div>


                                    <!-- ko foreach: getRegion('additional-login-form-fields') -->
                                    <!-- ko template: getTemplate() --><!-- /ko -->
                                    <!-- /ko -->
                                    <div class="actions-toolbar">
                                        <input name="context" type="hidden" value="checkout" />
                                        <div class="secondary secondaryButtonMobile">
                                            <button type="button" onclick="var y = document.getElementsByClassName('action-close');var aNode = y[0];aNode.click();" class="action action-login secondary" name="closemobile" id="closebuttonmobile">
                                                <span data-bind="i18n: 'CLOSE'"></span>
                                            </button>
                                        </div>
                                        <div class="primary">
                                            <button type="submit" class="action action-login secondary" name="send" id="send2">
                                                <span data-bind="i18n: 'LOG IN'"></span>
                                            </button>
                                        </div>
                                        <div class="secondary secondaryButton">
                                            <button type="button" onclick="var y = document.getElementsByClassName('action-close');var aNode = y[0];aNode.click();" class="action action-login secondary" name="close" id="closebutton">
                                                <span data-bind="i18n: 'CLOSE'"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="item title" data-role="collapsible">
                    <a class="switch" data-toggle="trigger" href="#register-content-form"><translate args="'Register'"></translate></a>
                </div>
                <div id="register-content-form" class="item content" data-role="content">
                    <div class="tab-pane fade active show" id="login-content" role="tabpanel" aria-labelledby="login-tab">
                        <form onkeypress="return event.keyCode != 13;" class="form form-login" id="register-form">
                            <div class="fieldset login" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                                <div class="namesContainer">
                                    <div class="field name required fname">
                                        <label class="label" for="customer-fname"><span data-bind="i18n: 'Name'"></span></label>
                                        <div class="control">
                                            <input name="fname"
                                                   id="customer-fname"
                                                   type="text"
                                                   class="input-text input-barsa"
                                                   data-mage-init='{"mage/trim-input":{}}'
                                                   data-bind="attr: {autocomplete: autocomplete, placeholder: $t('Name')}"
                                                   data-validate="{required:true}">
                                            <div class="mage-error" generated="true" id="customer-fname-error" style="display:none;"></div>
                                        </div>
                                    </div>

                                    <div class="field name required lname">
                                        <label class="label" for="customer-lname"><span data-bind="i18n: 'Last Name'"></span></label>
                                        <div class="control">
                                            <input name="lname"
                                                   id="customer-lname"
                                                   type="text"
                                                   class="input-text input-barsa"
                                                   data-mage-init='{"mage/trim-input":{}}'
                                                   data-bind="attr: {autocomplete: autocomplete, placeholder: $t('Last Name')}"
                                                   data-validate="{required:true}">
                                            <div class="mage-error" generated="true" id="customer-lname-error" style="display:none;"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="field email required">
                                    <label class="label" for="reg-customer-email"><span data-bind="i18n: 'Email'"></span></label>
                                    <div class="control">
                                        <input name="reg-customer-email"
                                               id="reg-customer-email"
                                               type="email"
                                               class="input-text input-barsa"
                                               placeholder="EMAIL"
                                               data-mage-init='{"mage/trim-input":{}}'
                                               data-bind="attr: {autocomplete: autocomplete}"
                                               data-validate="{required:true, 'validate-email':true}">
                                        <div class="mage-error" generated="true" id="reg-customer-email-error" style="display:none;"></div>
                                    </div>
                                </div>

                                <label for="reg-pass" class="label label-pass"><span data-bind="i18n: 'Password'"></span></label>
                                <div class="field password container-input required">
                                    <input name="reg-password"
                                           type="password"
                                           class="input-text input-barsa"
                                           id="reg-pass"
                                           data-bind="attr: {autocomplete: autocomplete, placeholder: $t('Password')}"
                                           data-validate="{required:true}">
                                    <div class="mage-error" generated="true" id="reg-pass-error" style="display:none;"></div>
                                </div>

                                <label for="pass2" class="label label-pass"><span data-bind="i18n: 'Repeat password'"></span></label>
                                <div class="field password container-input required">
                                    <input name="password2"
                                           type="password"
                                           class="input-text input-barsa"
                                           id="pass2"
                                           data-bind="attr: {autocomplete: autocomplete, placeholder: $t('Repeat password')}"
                                           data-validate="{required:true}">
                                    <div class="mage-error" generated="true" id="pass2-error" style="display:none;"></div>
                                </div>
                                <div class="mage-error" generated="true" id="general-pass-error" style="display:none;"></div>

                                <div class="form-group">
                                    <div class="form-check switch switch-sm">
                                        <label class="switch2">
                                            <input type="checkbox" class="form-check-input switch" id="privacy-policies" value="1">
                                            <span class="slider round"></span>
                                        </label>
                                        <label class="form-check-label" for="switch-privacy-policies-modal-signin">
                                            <translate args="'I read and accept'"></translate>
                                            <a href="/politica-de-privacidad-form-register/"><translate args="'Privacy Policies'"></translate></a>
                                        </label>
                                    </div>



                                    <div class="mage-error" generated="true" id="privacy-error" style="display:none;"></div>
                                </div>

                                <div class="actions-toolbar">
                                    <input name="context" type="hidden" value="checkout" />
                                    <div class="secondary secondaryButtonMobile">
                                        <button type="button" onclick="var y = document.getElementsByClassName('action-close');var aNode = y[0];aNode.click();" class="action action-login secondary" name="closemobile" id="closeRegbuttonmobile">
                                            <span data-bind="i18n: 'CLOSE'"></span>
                                        </button>
                                    </div>
                                    <div class="primary">
                                        <button type="button" class="action action-login secondary" data-bind="event: {click: sendRegisterToOctavio }" name="sendRegister" id="sendRegister">
                                            <span data-bind="i18n: 'REGISTER'"></span>
                                        </button>
                                    </div>
                                    <div class="secondary secondaryButton">
                                        <button type="button" onclick="var y = document.getElementsByClassName('action-close');var aNode = y[0];aNode.click();" class="action action-login secondary" name="close" id="closeRegbutton">
                                            <span data-bind="i18n: 'CLOSE'"></span>
                                        </button>
                                    </div>
                                </div>

                                <div class="privacyPolicyLegend">
                                    <small class="text-muted">
                                        <p><translate args="'Privacy Policies'"></translate>:</p>
                                        <p>
                                            <!-- ko i18n: 'Your personal information will be processed by FC Barcelona under NIF G-08266298 with the purpose of managing subscription registrations on our website. Your consent is the basis for the legitimization of the processing. Your information may be shared with any third-party who provides services to the Club. You may exercise your rights to access, correct, and delete your information, as well as other rights. You may consult the additional information detailed in the' --><!-- /ko -->
                                            <a href="/politica-de-privacidad-form-register/"><translate args="'Privacy Policy'"></translate></a>
                                        </p>
                                    </small>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
