<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile 
/** @var \Exto\Sarp\Block\Adminhtml\Dashboard $block */
?>
<div class="exto-sarp-wrapper">
    <div class="exto-sarp-container">
        <div class="exto-sarp-container-title-block">
            <div class="exto-sarp-container-title-block-label"><?php echo __('Subscription engine:');?></div>
            <?php if ($block->isModuleEnabled()):?>
                <div class="exto-sarp-container-title-block-value exto-sarp-container-title-block-value__enable"><?php echo __('on');?></div>
            <?php else: ?>
                <div class="exto-sarp-container-title-block-value exto-sarp-container-title-block-value__disable"><?php echo __('off');?></div>
            <?php endif;?>
        </div>
        <div class="exto-sarp-container-box exto-sarp-container-box-two-column">
            <div class="exto-sarp-container-box-item">
                <div class="exto-sarp-container-box-item-label"><?php echo __('Templates:');?></div>
                <div class="exto-sarp-value">
                    <a href="<?php echo $block->getTemplateUrl()?>">
                        <?php echo $block->getTemplateCount();?>
                    </a>
                </div>
            </div>
            <div class="exto-sarp-container-box-item">
                <div class="exto-sarp-container-box-item-label"><?php echo __('Products:');?></div>
                <div class="exto-sarp-value">
                    <a href="<?php echo $block->getProductUrl()?>">
                        <?php echo $block->getProductCount();?>
                    </a>
                </div>
            </div>
        </div>
        <div class="exto-sarp-container-item">
            <div class="exto-sarp-container-title-block"><div class="exto-sarp-container-title-block-label"><?php echo __('Profiles');?></div></div>
            <div class="exto-sarp-container-box">
                <?php foreach($block->getProfileData() as $status => $profile): ?>
                    <div class="exto-sarp-container-box-item">
                        <div class="exto-sarp-container-box-item-label"><?php echo __('%1',$profile['title']) . ': '; ?></div>
                        <div class="exto-sarp-value">
                            <a href="<?php echo $block->getProfileUrlByStatus($status) ?>">
                                <?php echo $profile['count'];?>
                            </a>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
    <div class="exto-sarp-container">
        <div class="exto-sarp-container-item">
            <div class="exto-sarp-container-title-block"><div class="exto-sarp-container-title-block-label"><?php echo __('Total subscription value so far');?></div></div>
            <div class="exto-sarp-container-box">
                    <?php $totalData = $block->getTotalData() ?>
                    <div class="exto-sarp-container-box-item no-link-item">
                        <div class="exto-sarp-container-box-item-label"><?php echo __('Today') . ': '; ?></div>
                        <div class="exto-sarp-value">
                            <?php echo $block->formatPrice($totalData['today']);?>
                        </div>
                    </div>
                    <div class="exto-sarp-container-box-item no-link-item">
                        <div class="exto-sarp-container-box-item-label"><?php echo __('Yesterday') . ': '; ?></div>
                        <div class="exto-sarp-value">
                            <?php echo $block->formatPrice($totalData['yesterday']);?>
                        </div>
                    </div>
                    <div class="exto-sarp-container-box-item no-link-item">
                        <div class="exto-sarp-container-box-item-label"><?php echo __('This week') . ': '; ?></div>
                        <div class="exto-sarp-value">
                            <?php echo $block->formatPrice($totalData['this_week']);?>
                        </div>
                    </div>
                    <div class="exto-sarp-container-box-item no-link-item">
                        <div class="exto-sarp-container-box-item-label"><?php echo __('This month') . ': '; ?></div>
                        <div class="exto-sarp-value">
                            <?php echo $block->formatPrice($totalData['this_month']);?>
                        </div>
                    </div>
                    <div class="exto-sarp-container-box-item no-link-item">
                        <div class="exto-sarp-container-box-item-label"><?php echo __('Last month') . ': '; ?></div>
                        <div class="exto-sarp-value">
                            <?php echo $block->formatPrice($totalData['last_month']);?>
                        </div>
                    </div>
                    <div class="exto-sarp-container-box-item no-link-item">
                        <div class="exto-sarp-container-box-item-label"><?php echo __('All time') . ': '; ?></div>
                        <div class="exto-sarp-value">
                            <?php echo $block->formatPrice($totalData['all_time']);?>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
