@import 'fontawesome.css';

.popup-authentication .modal-header .modal-title{
  font-family: "FCBARCELONA-Bold" !important;
  font-weigth: 400 !important;
  font-size: 16px !important;
}

#customModal {
  font-family: "FCBARCELONA-Regular" !important;
  #login-content-form,#register-content-form{
    margin-top:40px !important;
    padding:0 !important;
    border: none !important;
  }
}

.popup-authentication .modal-header{
  position: relative;
  height: 30px;
  padding-left: 0;
  margin-left: 15px;
  padding-top: 15px;
  width:95%;
}

#register-form{
  .namesContainer {
    display: flex;
    margin-bottom: 10px;
    .fname {
      float: left;
      display: inline-block;
      width: 50%;
      margin-right: 10%;
    }
    .lname {
      float: left;
      display: inline-block;
      width: 50%;
    }
  }
  .privacyPolicyLegend{
    margin-top:30px;
  }
}
/*.popup-authentication .modal-header .modal-title{
  padding: 15px 18px 15px 18px;
  border: 1px solid #e9ecef;
  display: inline;
  border-width: 1px 1px 0 1px;
  border-radius: 8px 8px 0 0;
  margin-bottom: -2px;
  background: #ffffff;
  z-index: 15;
  position: absolute;
}*/

#customModal .form-login{
  margin-top:25px;
}

.popup-authentication .loginPopup{
  border-top: 0px !important;
}

#customModal button span{
  font-family: "FCBARCELONA-Extrabold" !important;
  font-weight:400 !important;
}

#customModal label span{
  font-weight:600 !important;
  font-size:16px !important;
}
@media screen and (min-width:768px){
  #customModal .secundaryButton{
    float:right !important;
    margin-top: -10px !important;
  }
}
@media screen and (max-width:768px){
  #customModal #customer-email{
    max-width: 375px;
  }
  #customModal button{
    max-width: 375px;
    float: left;
    margin-top: 10px;
  }
}

#customModal #pass-error{
  display: block;
  width: 100%;
  margin-top: 55px;
  position: fixed;
}
.popup-authentication .modal-inner-wrap{
  min-width: 500px;
  width: 20%;
  border-radius: .3rem;
  border: 0 solid #e9ecef;
}
.popup-authentication .modal-content{
  width: 100%;
}

#customModal .label-pass{
  width: 100% !important;
  float: left;
}

#customModal .input-barsa{
  -webkit-transition: all .3s cubic-bezier(.64,.09,.08,1);
  transition: all .3s cubic-bezier(.64,.09,.08,1);
  color: #666;
  outline: 0;
  width: 100%;
  font-size: 16px;
  padding: 12px 15px;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: solid 1px #c3c3c3;
  z-index: 800;
  text-transform: none;
  height: 50px;
}
.container-input{
  display:inline-block;
  width:375px;
  position:relative;
  vertical-align:center;
}
.container-input a{
  position:absolute;
  top:2px;
  right:60px;
  font-size: 16px;
  padding: 12px 15px;
  color: #c3c3c3;
}
.container-input a:hover{
  color: #c3c3c3 !important;
}
#customModal #pass{
  width:332px;
  float:left;
  border-radius: 5px 0 0 5px;
}
.container-eye{
  box-sizing:border-box;
  display:inline-block;
  width:43px;
  position:relative;
  vertical-align:center;
  height:50px;
  float:left;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #e9ecef;
  background-color: #e9ecef;
  border-radius: 0 5px 5px 0;
}
.container-eye i{
  top:50%;
  left:50%;
  position:absolute;
  transform:translate(-50%,-50%);
}
#customModal .label:after{
  display:none !important;
}

#customModal .actions-toolbar .secondaryButton{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#customModal .actions-toolbar #closeRegbutton{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

@media screen and (max-width:768px){
  .popup-authentication .loginPopup{
    width:80%;
  }
  #customModal #pass{
    width:250px;
  }
  .container-input a{
    right:115px;
  }
  .popup-authentication .modal-header .modal-title{
    background: #f4f4f4 !important;
  }
  #customModal .actions-toolbar{
    .secondaryButtonMobile{
      display: block;
    }
    .secondaryButton{
      display: none;
    }
    div{
      &.primary{
        button{
          background-color: #fdc52c;
          color: #181733;
          &:hover{
            background-color: #e0ae24;
            text-decoration: none;
            color: #181733;
          }
        }
      }
      &.secondary{
        button{
          background-color: #fff;
          color: #000;
          margin-top: 15px !important;
          &:hover{
            color: #181733;
            background-color: #fff;
            text-decoration: none;
          }
          span{
            font-family: "FCBARCELONA-Bold" !important;
          }
        }
      }
    }
  }
}

@media screen and (min-width:768px){
  #customModal .actions-toolbar{
    width:100%;
    text-align: right;
    .secondaryButtonMobile{
      display: none;
    }
    .secondaryButton{
      display: block;
    }
    div{
      display: inline-block;
      vertical-align: center;
      width: auto;
      text-align: right;
      &.primary{
        button{
          border: solid 0 #fdc52c;
          background-color: #fdc52c;
          padding: 12px 40px;
          font-size: 18px;
          text-transform: uppercase;
          color: #181733;
          outline: 0;
          margin: 10px;
          display: inline-block;
          text-decoration: none;
          text-align: center;
          width: auto;
          -webkit-box-shadow: 0 15px 50px 0 rgba(0,0,0,.25);
          box-shadow: 0 15px 50px 0 rgba(0,0,0,.25) !important;
          &:hover{
            background-color: #e0ae24;
            text-decoration: none;
            color: #181733;
            outline: 0;
            border: solid 0 #e0ae24;
            -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.3) !important;
            box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.3) !important;
          }
        }
      }
      &.secondary{
        button{
          border: solid 2px #fff;
          background-color: #fff;
          color: #000;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
          padding: 10px 45px;
          text-transform: uppercase;
          outline: 0;
          display: inline-block;
          margin: 0 10px;
          -webkit-box-shadow: 0 15px 50px 0 rgba(0,0,0,.25) !important;
          box-shadow: 0 15px 50px 0 rgba(0,0,0,.25) !important;
          &:hover{
            color: #181733;
            outline: 0;
            text-decoration: none;
            border: solid 2px #fff;
            background-color: #fff;
            -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.3) !important;
            box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.3) !important;
          }
          span{
            font-family: "FCBARCELONA-Bold" !important;
          }
        }
      }
    }
  }
}

.product.data.items{
  &> .item {
    &.title {
      margin-top:-8px;
      padding:10px;
      background: transparent;
      color:#181733;
      text-transform: uppercase;

      text-decoration-style: solid;

      a.switch {
        font-family: "FCBARCELONA-Bold";
        font-size: 16px !important;
        font-weight: 400;
        border:0px;
        padding: 0rem 1.5rem 1.5rem 1.5rem;
        background-color:transparent;
      }
      &:hover{
        background: transparent;
      }
      &.active {
        margin-top:-8px;
        a.switch {
          padding: 0rem 1.5rem 1.5rem 1.5rem;
          background-color:#fff;
          border-color: #dee2e6 #dee2e6 #fff !important;
          border-radius: .25rem;
          border:1px solid #dee2e6;
        }
      }
    }

  }
}

#customModal #login-content-form.content,
#customModal #register-content-form{
  border-top:1px !important;
  border-bottom:0px !important;
  border-left:0px !important;
  border-right:0px !important;
  border-style: solid !important;
  border-color:#dee2e6 !important;
  top:-10px !important;
}
.form-check.switch.switch-sm{
  .switch2 {
    position: relative;
    display:inline-block;
    vertical-align:middle;
    width: 45px;
    height: 24px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    input:checked + .slider {
      background-color: #003978;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #003978;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      &.round {
        border-radius: 24px;
        &:before {
          border-radius: 50%;
        }
      }
    }
  }
}


