<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Exto\Sarp\Block\Customer\Profile\View\Order $block */
?>
<div class="exto-sarp-item">
    <div class="exto-sarp-title"><?php echo __('Orders') ?></div>
    <div class="exto-sarp-order">
        <?php $orderData = $block->getOrderData()?>
        <?php /** @var \Magento\Sales\Api\Data\OrderInterface $order */?>
        <?php foreach ($orderData as $order):?>
            <div class="exto-sarp-order-item">
                <div class="exto-sarp-order-name">
                    <a href="<?php echo $block->getOrderUrl($order->getEntityId()) ?>"><?php echo '#'.$order->getIncrementId() ?></a>
                </div>
                <div class="exto-sarp-order-status <?php echo $order->getStatus()?>"><?php echo $block->getOrderStatus($order->getStatus()) ?></div>
                <div class="exto-sarp-order-total"><?php echo $block->formatPrice($order->getGrandTotal()) ?></div>
                <div class="exto-sarp-order-date"><?php echo $block->prepareDate($order->getCreatedAt()) ?></div>
            </div>
        <?php endforeach;?>
        <?php if (count($orderData) == 0): ?>
            <div class="exto-sarp-order-empty"><?php echo __('No orders');?></div>
        <?php endif;?>
    </div>
</div>
