<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Exto\Sarp\Block\Customer\Profile\View\Profile $block */
?>
<div class="exto-sarp-item">
    <div class="exto-sarp-item-head">
        <div><?php echo $block->getProfile()->getTitle() ?></div>
        <div class="status <?php echo $block->getProfile()->getStatus() ?>"><?php echo $block->getStatus() ?></div>
    </div>
    <div class="exto-sarp-profile-list">
        <div class="exto-sarp-profile-item">
            <div class="exto-sarp-profile-title"><?php echo __('Subscription profile ID:') ?></div>
            <div class="exto-sarp-profile-value"><?php echo $block->getProfileId() ?></div>
        </div>
        <div class="exto-sarp-profile-item">
            <div class="exto-sarp-profile-title"><?php echo __('PayPal profile ID:') ?></div>
            <div class="exto-sarp-profile-value"><?php echo $block->getPaypalId() ?></div>
        </div>
        <div class="exto-sarp-profile-item">
            <div class="exto-sarp-profile-title"><?php echo __('First billing date:') ?></div>
            <div class="exto-sarp-profile-value"><?php echo $block->getFirstBillingDate() ?></div>
        </div>
        <div class="exto-sarp-profile-item">
            <div class="exto-sarp-profile-title"><?php echo __('Last successful billing:') ?></div>
            <div class="exto-sarp-profile-value"><?php echo $block->getLastSuccessfulBillingDate() ?></div>
        </div>
    </div>
</div>
