<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Exto\Sarp\Block\Customer\Profile\View\Subscription $block */
?>
<div class="exto-sarp-item">
    <div class="exto-sarp-title"><?php echo __('Subscription details') ?></div>
    <div class="exto-sarp-subscr-box">
        <?php $subscriptionData = $block->getSubscriptionData()?>
        <div class="exto-sarp-subscr-heading">
            <div class="exto-sarp-subscr-heading-label wider"><?php echo __('Item') ?></div>
            <div class="exto-sarp-subscr-heading-label"><?php echo __('Qty') ?></div>
            <div class="exto-sarp-subscr-heading-label"><?php echo __('Price') ?></div>
        </div>
        <div class="exto-sarp-subscr-list">
            <?php foreach ($subscriptionData['items'] as $item):?>
                <div class="exto-sarp-subscr-items">
                    <div class="exto-sarp-subscr-item">
                        <div class="exto-sarp-subscr-img">
                            <img src="<?php echo $item['thumbnail'] ?>" width="150" height="150"/>
                        </div>
                        <div class="exto-sarp-subscr-info">
                            <div class="exto-sarp-subscr-name">
                                <a class="exto-sarp-subscr-name-link" href="<?php echo $item['url'] ?>"><?php echo $item['name'] ?></a>
                            </div>
                        </div>
                    </div>
                    <div class="exto-sarp-subscr-qty">
                        <div class="exto-sarp-subscr-qty-value"><?php echo $item['qty'] ?></div>
                    </div>
                    <div class="exto-sarp-subscr-price">
                        <div class="exto-sarp-subscr-price-value"><?php echo $block->formatPrice($item['price']) ?></div>
                    </div>
                </div>
            <?php endforeach;?>
        </div>
        <div class="exto-sarp-subscr-total">
            <div class="exto-sarp-subscr-total-item">
                <div class="exto-sarp-subscr-total-label"><?php echo __('Total:') ?></div>
                <div class="exto-sarp-subscr-total-value"><?php echo  $block->formatPrice($subscriptionData['subtotal']) ?></div>
            </div>
            <div class="exto-sarp-subscr-total-item">
                <div class="exto-sarp-subscr-total-label"><?php echo __('Tax:') ?></div>
                <div class="exto-sarp-subscr-total-value"><?php echo  $block->formatPrice($subscriptionData['tax_total']) ?></div>
            </div>
            <div class="exto-sarp-subscr-total-item">
                <div class="exto-sarp-subscr-total-label"><?php echo __('Shipping:') ?></div>
                <div class="exto-sarp-subscr-total-value"><?php echo  $block->formatPrice($subscriptionData['shipping_total']) ?></div>
            </div>
            <div  class="exto-sarp-subscr-total-item grand-total">
                <div class="exto-sarp-subscr-total-label"><?php echo __('Grand Total:') ?></div>
                <div class="exto-sarp-subscr-total-value"><?php echo  $block->formatPrice($subscriptionData['grand_total']) ?></div>
            </div>
        </div>
    </div>
</div>
