<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Exto\Sarp\Block\Adminhtml\Profile\View $block */
?>
<div class="page-main-actions">
    <div class="page-actions">
        <div class="page-actions-inner">
            <div class="page-actions-buttons">
                <?php foreach ($block->getButtons() as $button): ?>
                    <a href="<?php echo $button['url']?>" style="margin-right: 10px" class="action-default scalable">
                        <span><?php echo $button['label']?></span>
                    </a>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
</div>

<div class="sarp-main-column-wrapper">
    <div class="sarp-main-column-content">
        <?php echo $block->getChildHtml('exto_sarp_profile_view_profile'); ?>
        <?php echo $block->getChildHtml('exto_sarp_profile_view_subscription'); ?>
        <?php echo $block->getChildHtml('exto_sarp_profile_view_message'); ?>
    </div>
    <div class="sarp-right-column-content">
        <div class="profile-view-data">
            <?php echo $block->getChildHtml('exto_sarp_profile_view_customer'); ?>
            <?php echo $block->getChildHtml('exto_sarp_profile_view_order'); ?>
        </div>
    </div>
</div>
