<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form class="form" id="tco-cc-form" data-role="tco-cc-form" action="#" method="post" data-bind="mageInit: {
            'transparent':{
                'context': context(),
                'controller': getControllerName(),
                'orderSaveUrl':getPlaceOrderUrl(),
            }, 'validation':[]}">


            <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
                <!-- ko if: (isShowLegend())-->
                <legend class="legend">
                    <span><!-- ko text: $t('Credit Card Information')--><!-- /ko --></span>
                </legend><br />
                <!-- /ko -->

                <div class="field type required">
                    <div class="control">
                        <input type="hidden"
                               name="payment[cc_type]"
                               class="input-text"
                               value=""
                               data-bind="attr: {id: getCode() + '_cc_type', 'data-container': getCode() + '-cc-type'},
                           value: creditCardType
                           ">
                    </div>
                </div>
                <div class="field number required">
                    <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
                        <span><!-- ko text: $t('Credit Card Number')--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="number" class="input-text" value="" id="tco_api_cc_number"
                               data-encrypted-name="number"
                               data-bind="attr: {
                                            autocomplete: off,
                                            id: getCode() + '_cc_number',
                                            title: $t('Credit Card Number'),
                                            'data-container': getCode() + '-cc-number',
                                            'data-validate': JSON.stringify({'required-number':true, 'validate-card-type':getCcAvailableTypesValues(), 'validate-card-number':'#' + getCode() + '_cc_type', 'validate-cc-type':'#' + getCode() + '_cc_type'})},
                                      enable: isActive($parents),
                                      value: creditCardNumber,
                                      valueUpdate: 'keyup' "/>
                    </div>
                </div>
                <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
                    <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
                        <span><!-- ko text: $t('Expiration Date')--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <div class="fields group group-2">
                            <div class="field no-label month">
                                <div class="control">
                                    <select  class="select select-month" id="tco_api_expiration"
                                             data-encrypted-name="expiryMonth"
                                             data-bind="attr: {id: getCode() + '_expiration', 'data-container': getCode() + '-cc-month', 'data-validate': JSON.stringify({required:true, 'validate-cc-exp':'#' + getCode() + '_expiration_yr'})},
                                                    enable: isActive($parents),
                                                    options: getCcMonthsValues(),
                                                    optionsValue: 'value',
                                                    optionsText: 'month',
                                                    optionsCaption: $t('Month'),
                                                    value: creditCardExpMonth"
                                             data-validate="{required:true}">
                                    </select>
                                </div>
                            </div>
                            <div class="field no-label year">
                                <div class="control">
                                    <select class="select select-year" id="tco_api_expiration_yr"
                                            data-encrypted-name="expiryYear"
                                            data-bind="attr: {id: getCode() + '_expiration_yr', 'data-container': getCode() + '-cc-year', 'data-validate': JSON.stringify({required:true})},
                                                   enable: isActive($parents),
                                                   options: getCcYearsValues(),
                                                   optionsValue: 'value',
                                                   optionsText: 'year',
                                                   optionsCaption: $t('Year'),
                                                   value: creditCardExpYear"
                                            data-validate="{required:true}">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ko if: (hasVerification())-->
                <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
                    <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
                        <span><!-- ko text: $t('Card Verification Number')--><!-- /ko --></span>
                    </label>
                    <div class="control _with-tooltip">
                        <input type="number"
                               autocomplete="off"
                               class="input-text cvv"
                               data-encrypted-name="cvc"
                               value=""
                               id="tco_api_cc_cid"
                               data-bind="attr: {id: getCode() + '_cc_cid',
                                title: $t('Card Verification Number'),
                                'data-container': getCode() + '-cc-cvv',
                                'data-validate': JSON.stringify({'required-number':true, 'validate-card-cvv':'#' + getCode() + '_cc_type'})},
                                enable: isActive($parents),
                                value: creditCardVerificationNumber"
                               data-validate="{required:true}"/>
                        <div class="field-tooltip toggle">
                        <span class="field-tooltip-action action-cvv"
                              tabindex="0"
                              data-toggle="dropdown"
                              data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                            <span><!-- ko text: $t('What is this?')--><!-- /ko --></span>
                        </span>
                            <div class="field-tooltip-content"
                                 data-target="dropdown"
                                 data-bind="html: getCvvImageHtml()"></div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <div class="field number required" data-bind="attr: {id: getCode() + '_cc_type_installments_div'}">
                    <label data-bind="attr: {for: getCode() + '_installments'}" class="label">
                        <span><!-- ko text: $t('Installments')--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <div class="fields group">
                            <div class="field no-label installments">
                                <div class="control">
                                    <select  class="select select-installments" id="tco_api_installments"
                                             data-encrypted-name="installments"
                                             data-bind="attr: {id: getCode() + '_installments', 'data-container': getCode() + '-cc-installments', 'data-validate': JSON.stringify({required:true})},
                                                    enable: isActive($parents),
                                                    options: getCcInstallmentsValues(),
                                                    optionsValue: 'value',
                                                    optionsText: 'installments',
                                                    value: creditCardInstallments"
                                             data-validate="{required:true}">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked())
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>