<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile 
?>
<div class="admin__field field field-option ">
    <label class="label admin__field-label"></label>
    <table class="admin__control-table admin__field-control control">
        <tbody>
            <?php $options = $block->getOptionValues() ?>
            <?php foreach ($block->getStores() as $store): ?>
                <tr>
                    <td><label class="admin__field-label"><span><?php echo $store->getName() ?></span></label></td>
                    <td class="col-store-view">
                        <input placeholder="<?php echo $block->getPlaceholder() ?>" data-form-part="<?php echo $block->getFormName() ?>" class="input-text" type="text" name="<?php echo $block->getFieldCode() ?>[<?php echo $store->getId() ?>]" value="<?php if (isset($options[$store->getId()])): ?><?php echo $block->escapeHtml($options[$store->getId()]) ?><?php endif; ?>"/>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>

