<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile 
/** @var \Exto\Sarp\Block\Customer\Profile\Grid $block */
?>
<?php if ($block->hasItems()): ?>
    <div class="table-wrapper">
        <table class="data table" id="exto-rma-table">
            <caption class="table-caption"><?php echo __('My Subscriptions') ?></caption>
            <thead>
            <tr>
                <th scope="col" class="col"><?php echo __('Profile ID') ?></th>
                <th scope="col" class="col"><?php echo __('Status') ?></th>
                <th scope="col" class="col"><?php echo __('Created at') ?></th>
                <th scope="col" class="col"><?php echo __('Last billing at') ?></th>
                <th scope="col" class="col"><?php echo __('Termination date') ?></th>
                <th scope="col" class="col"><?php echo __('Actions') ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($block->getItems() as $profile): ?>
                <tr>
                    <td data-th="<?php echo $block->escapeHtml(__('Profile ID')) ?>" class="col">
                        <a href=<?php echo $block->getViewUrl($profile);?>>
                            <?php echo $profile->getProfileId();?>
                        </a>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Status')) ?>" class="col">
                        <?php echo $block->getStatusLabel($profile);?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Created at')) ?>" class="col">
                        <?php echo $block->dateFormat($profile->getCreatedDate()); ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Last billing at')) ?>" class="col">
                        <?php echo $block->dateFormat($profile->getLastSuccessfulDate()); ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Termination date')) ?>" class="col">
                        <?php echo $block->dateFormat($profile->getCompletedDate()); ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Actions')) ?>" class="col actions">
                        <?php if ($block->isCanCancel($profile)): ?>
                            <a href="<?php echo $block->getCancelUrl($profile);?>" class="action"><?php echo __('Cancel');?></a>
                        <?php endif; ?>
                        <?php if ($block->isCanChangeStatus($profile)):?>
                        <a href="<?php echo $block->getChangeStatusUrl($profile);?>" class="action">
                            <?php echo $block->getChangeStatusTitle($profile);?>
                        </a>
                        <?php endif;?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getToolbarHtml()): ?>
        <div class="toolbar bottom">
            <?php echo $block->getToolbarHtml() ?>
        </div>
    <?php endif; ?>
<?php else: ?>
    <div class="message info empty"><span><?php echo __('You have no items in your profile list.') ?></span></div>
<?php endif ?>