<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Exto\Sarp\Block\Customer\Profile\View $block */
?>
<div class="exto-sarp-action">
    <?php if ($block->isCanChangeStatus()):?>
        <a href="<?php echo $block->getChangeStatusUrl();?>" class="exto-sarp-action-item">
            <?php echo $block->getChangeStatusTitle();?>
        </a>|
    <?php endif;?>
    <?php if ($block->isCanCancel()):?>
        <a href="<?php echo $block->getCancelUrl();?>" class="exto-sarp-action-item"><?php echo __('Cancel');?></a>
    <?php endif;?>
</div>
<div class="exto-sarp-list">
    <?php echo $block->getChildHtml('customer.exto_sarp.view.profile'); ?>
    <?php echo $block->getChildHtml('customer.exto_sarp.view.order'); ?>
    <?php echo $block->getChildHtml('customer.exto_sarp.view.subscription'); ?>
</div>
