.checkout-cart-index{
    .cart-container {
        .cart {
            .actions-toolbar {
                min-height: 40px;
                .action-edit{
                    display: none;
                }
            }
            .action{
                &.continue {
                    float: right;
                    display: block;
                    span {
                        background: #eeeeee;
                        border: 1px solid #cccccc;
                        color: #333333;
                        cursor: pointer;
                        display: inline-block;
                        font-weight: 600;
                        padding: 7px 15px;
                        line-height: 1.6rem;
                    }
                }
                &.update {
                    display: none;
                }
            }
        }
    }
}