& when (@media-common = true) {
    .block-search {
         .control {
            border-top: none;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .block-search {
        margin-top: 5px;
    }
    .minicart-wrapper {
        margin-top: 5px;
    }
}