.checkout-index-index {
    #checkout {
        .opc-progress-bar {
            margin: 25px 0;
            .opc-progress-bar-item {
                span {
                    color: #666666;
                }
            }
        }
    }
    
    .field {
        margin: 0 0 20px;
        &.required-label {
            .label {
                &:after {
                    content: '*';
                    color: #e02b27;
                    font-size: 1.2rem;
                    margin: 0 0 0 5px;
                }
            }
        }
        .label {
            margin: 0 0 8px;
            display: inline-block;
        }
    }
}

.opc-wrapper {
    margin: 40px 0 20px;
}

.checkout-cart-index {
    .cart-discount .action {
        padding: 7px 15px;
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .checkout-cart-index .cart-container .cart .action .continue {
        float: none;            
    }
}