// Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .block-search .label:before {
        color: rgb(255, 255, 255);

        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }

}
