@header__background-color: #003978;
@header-panel__background-color: #003978;

.page-wrapper {
    .header {
        &.content {
            padding: 10px 20px 10px;
            .nav-toggle {
                display: none;
            }
            .logo {
                margin: 0 auto;
            }
            .customer-name {
                float: right;
                color: #fff;
                margin-top: 8px;
                text-transform: uppercase;
                font-weight: bold;
                font-family: sans-serif;
            }
            .panel {
                &.header {
                    padding: 0px 0px;
                    color: @color-white;
                    .welcome {
                        margin-top: 8px;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-family: sans-serif;
                    }
                }
            }    
        }
    }
}    
