<?php
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Exto\Base\Block\Adminhtml\Config\Popup */
?>
<div data-mage-init='{
    "Exto_Base/js/config/popup": {
        "options": {
            "saveUrl": "<?php echo $block->escapeUrl($block->getSubscribeSaveUrl()); ?>",
            "title": "<?php echo $block->escapeHtml(__('Exto.io News Feed')); ?>"
        }
    }}'
    style="display:none" id="exto-base-subscribe" class="exto-base-subscribe">
    <div class="messages" style="display: none">
        <label class="label admin__field-label">
            &nbsp;
        </label>
        <div class="message message-error">
            <div><?php echo $block->escapeHtml(__('Something went wrong.')); ?></div>
        </div>
    </div>
    <form action="#">
        <div id="exto-base-subscribe-segments" class="exto-base-subscribe-field">
            <label class="label admin__field-label" for="exto-base-subscribe-segments-select">
                <span><?php echo $block->escapeHtml(__('Subscribe to Segments')); ?></span>
            </label>
            <div class="exto-base-subscribe-control">
                <?php echo $block->getSegmentElement()->toHtml(); ?>
            </div>
        </div>
        <br style="clear:both;" />
        <div id="exto-base-subscribe-send-anonymous-data" class="exto-base-subscribe-field">
            <label class="label admin__field-label" for="exto-base-subscribe-send-anonymous-data-select">
                <span><?php echo $block->escapeHtml(__('Send Anonymous Usage Data')); ?></span>
            </label>
            <div class="exto-base-subscribe-control">
                <?php echo $block->getSendUsageDataElement()->toHtml(); ?>
                <p class="note">
                    <span>
                        <?php echo $block->escapeHtml(__('IMPORTANT: This does NOT share any of your data! '
                        . 'We use this to understand how do you operate our products and deliver '
                        . 'you better experience over time. We would really love you to turn this feature on.')); ?>
                    </span>
                </p>
            </div>
        </div>
    </form>
</div>